body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.item_card{
  margin-top: 25px;
}
.navbar-header{
  background-color:rgb(6, 70, 6);
}
.insed_item_card{
  margin-top: 10px;
}
.primaryColor{
  color:rgb(6, 70, 6);
}
.primaryBackgroundColor{
  background-color: rgb(6, 70, 6);
}

.search-btn:focus{
  background-color: rgb(6, 110, 6)
}
.search-btn:hover{
  background-color: rgb(6, 90, 6)
}
/* text box focus */
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid rgb(6, 110, 6);
  box-shadow: 0 1px 0 0 rgb(6, 110, 6);
}

/* label focus*/
input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
  color: rgb(6, 90, 6)
}